# VS Code
.vscode/*.log

# KiCad autosave and backup files
*.kicad_prl
*.kicad_pro-bak
*.kicad_sch-bak
*.kicad_pcb-bak
*-backups/
_fp-info-cache

# Firmware build artifacts
*.o
*.obj
*.elf
*.hex
*.map
*.lst
build/
dist/
